* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(40, 46, 51, 0.9);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#pulseaudio:hover {
    background-color: #a30062;
    color: #ffffff;
}

#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray {
    background-color: #e2a7dd;
    padding: 1px 10px;
    margin: 5px;
    border: 3px solid #fc88d0;
    border-radius: 5px;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #e2a7dd;
    color: #2a5c45;
}

#tray {
    background-color: #a666a0;
    border-color: #fc88d0;
    margin-right: 20px;
}
