* {
    font-family: FontAwesome, Inconsolata;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(40, 46, 51, 0.1);
    color: #ffffff;
}

#pulseaudio:hover {
    background-color: #a30062;
    color: #ffffff;
}

#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray {
    background-color: #e2a7dd;
    padding: 1px 10px;
    margin: 0px;
    border: 3px solid #5e1140;
    border-radius: 5px;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #e2a7dd;
    color: #2a5c45;
}

#tray {
    background-color: #a666a0;
    border-color: #5e1140;
    margin-right: 20px;
}

#clock {
    margin-left: 20px;
}
